@import "normalize.css";
@import "http://cssicon.space/css/icons.css";

.icon, .icon:before, .icon:after, .icon i, .icon i:before, .icon i:after {
  transition: all .4s ease;
}

.icon {
    transform: scale(1.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    img {
        vertical-align: middle;
        max-width: 100%;
    }

    a {
        text-decoration: none;
        display: inline-block;
    }

    .content {
        max-width: 1024px;
        margin: 0 auto;
    }
}

body {
    font: 18px "Open Sans", Arial, sans-serif;
}

#menu {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        .menu-mobile {
            display: none;
            position: relative;
            width: 75px;
            height: 75px;
            padding: 26px;
            cursor: pointer;
        }

        > ul {
            display: flex;
            list-style: none;
            flex-direction: row;

            li {
                a {
                    padding: 1em 1.3em;
                    &:hover {
                        color: #bace16;
                    }
                }
            }
        }
    }
}

@import "animate";
@import "mobile";
